@import '../index.scss';

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;


    // Element
    &__item {
        display: flex;
        gap: 15px;
        align-items: center;
        font-size: 2rem;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 400;

        &:hover {
            background-color: $grey-light;
        }

        // Modify
        &__text {
            font-weight: inherit;
        }
    }
}

.active {
    font-weight: 800;
    background-color: $grey-light;
}