@import './index.scss';


.header {
    background-color: $primary;
    height: $header-height;
    color: $grey-light;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        display: flex;
        cursor: pointer;
        font-size: 25px;
        color: $white;
    }

    &__text {
        flex: 1;
        color: $white;
    }

    &__search {
        min-width: 300px;
    }
}

.search {
    position: relative;

    &__icon {
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
        color: $grey-dark;
        font-size: 1.6rem;
        display: flex;
    }

    &__input {
        padding-left: 30px;
        width: 100%;
        padding-left: 30px;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: 1.6rem;
        outline: none;
    }
}